.div-one {
  width: 17%;
  height: 90px;
  background: aqua;
}

.div-main {
  width: 66%;
  height: 90px;
}

img {
  width: 100px;
}

audio::-webkit-media-controls-panel {
  background-color: #6666af;
}
